# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [4]:
# import required libraries
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
# your code here
driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'orders'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
query = """
        SELECT * FROM orders
"""
orders = pd.read_sql(query, engine)
orders.head()
orders.to_csv("orders")

In [77]:
orders = pd.read_csv("orders.csv")
orders.head()

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [78]:
orders.dtypes

index             int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [83]:
# your code here
customer = orders.groupby(["CustomerID"]).sum()
customer = customer.drop(["index","InvoiceNo","year","month","day","hour","Quantity","UnitPrice"], axis=1)
customer = customer.sort_values(by=["amount_spent"], ascending=False)
quan_75 = customer.quantile(.75)
quan_95 = customer.quantile(.95)
customer["Customer Type"] = ""
def cat_customers(lst):
    res = []
    for x in lst:
        if x >= quan_95[0]:
            res.append("VIP")
        elif x >= quan_75[0] and x <= quan_95[0]:
            res.append("Preferred")
        else:
            res.append("Normal")
    return res

customer["Customer Type"] = cat_customers(list(customer["amount_spent"]))
customer

            amount_spent Customer Type
CustomerID
16029            3702.12           VIP
16210            2474.74           VIP
17511            1825.74           VIP
17850            1499.34     Preferred
13408            1024.68     Preferred
12583             855.86     Preferred
13694             842.12     Preferred
14307             783.11     Preferred
17920             514.41     Preferred
13767             507.88     Preferred
18074             489.60     Preferred
16218             471.30     Preferred
15311             449.98        Normal
14688             444.98        Normal
13448             443.96        Normal
15983             440.89        Normal
16098             430.60        Normal
12838             390.79        Normal
13047             366.63        Normal
13758             362.45        Normal
12431             358.25        Normal
15513             357.00        Normal
14849             355.84        Normal
15862             354.23        Normal
15100             350.40        Normal
15291             328.80        Normal
14045             326.40        Normal
13705             318.14        Normal
18085             303.90        Normal
14729             295.79        Normal
17951             295.50        Normal
17924             279.00        Normal
17968             277.35        Normal
17908             243.28        Normal
16583             233.45        Normal
16250             226.14        Normal
13255             225.70        Normal
17377             223.90        Normal
13748             204.00        Normal
12791             192.60        Normal
17897             165.89        Normal
17181             155.52        Normal
17420             130.85        Normal
16552              95.29        Normal
13747              79.60        Normal
17809              34.80        Normal

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [84]:
# your code here
print(customer.dtypes)
def get_cus_type(id):
    ind = orders.index[orders["CustomerID"] == id][0]
    return orders.iloc[[ind]]["Country"]

cus_country = []
for cusId in list(customer["CustomerID"]):
    cus_country.append(get_cus_type(cusId))
    

orders["Customer Type"] = cus_country

amount_spent     float64
Customer Type     object
dtype: object

KeyError: 'CustomerID'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here