# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [17]:
# your code here
import pandas as pd
import numpy as np

df_raw_sales = pd.read_csv("raw_sales.csv")
df_by_item_index = pd.read_csv("sales_by_item_index.csv")
df_by_item = pd.read_csv("sales_by_item.csv")
df_by_shop = pd.read_csv("sales_by_shop.csv")
print(df_raw_sales.head())
print(df_by_item_index.head())
print(df_by_item.head())
print(df_by_shop.head())

                  date  shop_id  item_id  item_price  item_cnt_day
0  2015-01-04 00:00:00       29     1469      1199.0             1
1  2015-01-04 00:00:00       28    21364       479.0             1
2  2015-01-04 00:00:00       28    21365       999.0             2
3  2015-01-04 00:00:00       28    22104       249.0             2
4  2015-01-04 00:00:00       28    22091       179.0             1
   id  item_id  item_earnings  total_items_sold        date
0   1       30          169.0                 1  03/12/2019
1   2       31          363.0                 1  03/12/2019
2   3       32          149.0                 1  03/12/2019
3   4       42          299.0                 1  03/12/2019
4   5       59          249.0                 1  03/12/2019
   item_id  item_earnings  total_items_sold        date
0       30          169.0                 1  03/09/2019
1       31          363.0                 1  03/09/2019
2       32          149.0                 1  03/09/2019
3       42          299.0                 1  03/09/2019
4       59          249.0                 1  03/09/2019
   shop_id  shop_earnings  total_items_sold        date
0        2        33023.5                27  03/09/2019
1        3        22481.0                11  03/09/2019
2        4         9787.0                13  03/09/2019
3        5        11046.0                15  03/09/2019
4        6        38784.0                50  03/09/2019

In [19]:
df_raw_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
date            1000 non-null object
shop_id         1000 non-null int64
item_id         1000 non-null int64
item_price      1000 non-null float64
item_cnt_day    1000 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 39.1+ KB

In [20]:
df_by_item_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 5 columns):
id                  985 non-null int64
item_id             985 non-null int64
item_earnings       985 non-null float64
total_items_sold    985 non-null int64
date                985 non-null object
dtypes: float64(1), int64(3), object(1)
memory usage: 38.6+ KB

In [21]:
df_by_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
item_id             1000 non-null int64
item_earnings       1000 non-null float64
total_items_sold    1000 non-null int64
date                1000 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 31.3+ KB

In [22]:
df_by_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
shop_id             90 non-null int64
shop_earnings       90 non-null float64
total_items_sold    90 non-null int64
date                90 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 2.9+ KB

In [23]:
by_shop = df_by_shop.groupby("shop_id").sum()
by_shop.head()

         shop_earnings  total_items_sold
shop_id
2              66047.0                54
3              44962.0                22
4              19574.0                26
5              22092.0                30
6              77568.0               100

In [24]:
by_item = df_by_item.groupby("item_id").sum()
by_item.head()

         item_earnings  total_items_sold
item_id
30               338.0                 2
31               726.0                 2
32               298.0                 2
42               598.0                 2
59               498.0                 2